/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require ./reset.css
 *= require_self

 */

@import './frontpage.scss';
@import './nav.scss';
@import './dashboard.scss';
@import './footer.scss';
@import './board.scss';
main {
  font-family: 'Open Sans', sans-serif;
  font-size: 2vw;
  color: white;
}

button {
  display: inline-block;
  font-family: 'Yanone Kaffeesatz', sans-serif;

  background-color: transparent;
  border-radius: 30px;
  width: 20%;

  margin: 3%;
  transition: background-color 0.1s ease-in, border-color 0.1s ease-in, color 0.1s,
    letter-spacing 0.1s ease-in, border-radius 0.1s ease-in;
  outline: none;
  letter-spacing: 2px;
}

button:hover {
  background-color: #75ceff;
  border: solid #75ceff 3px;
  color: black;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s,
    color 0.1s, letter-spacing 0.2s, border-radius 0.1s;
  letter-spacing: 5px;
  border-radius: 5px;
}

.black-button {

  color: white;
  border: solid white 3px;
}

.white-button {
  color: black;
  border: solid black 1px;
}

.white-button:hover {
  color: white;
  border: solid #75ceff 1px;
}
