#clock  {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 2.5vw;
  width: 15vw;
  height: 8vh;
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
  outline: none;
  margin: none;
}

#clock:hover {
  background-color: #eaf2ff;
  transition: background-color 0.2s ease-in;
}

#clock.RUNNING {
  background-color: #c12222;
  color: white;
  font-size: 3.5vw;
  transition: background-color 0.2s ease-in, font-size 0.2s ease-in,
    color 0.2s ease-in;
  border: none;
}

#clock.RUNNING:hover {
  background-color: #a31616;
  transition: background-color 0.1s ease-in;
}

#clock.FINISHED, #create-board-wrapper.clock.post-finished {
  background-color: #c12222;
  color: white;
}
