
#dashboard {
  color: black;
  height: 80vh;
}

#dashboard h1 {
  font-size: 3vw;
}

#dashboard-thumbnails {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 70vw;
}
