//require_self


nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  color: black;
  border-bottom: 2px dashed black;
  height: 12vh;
  padding-right: 5%;
  padding-left: 5%;
}

nav h3 {

  font-size: 3vw;
  letter-spacing: 2px;
}

nav .nav-button {
  letter-spacing: 3px;
  display:flex;
  justify-content: center;
  width: 100%;
  font-size: 2vw;
  padding: 5px;
  text-decoration: none;
}

nav .nav-button:hover {
  letter-spacing: 3px;
  width:100%;
}
nav #search {
  height: 8vh;
  margin-left: 3%;
}

nav #logo {

}

nav #session-bar {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 12vw;
}


.nav-button:hover {
}

#logout {
  width: 100%;
}

#profile {
  background-image: url('http://res.cloudinary.com/dce7smh6y/image/upload/v1506018610/profile_icon_yfyi76.png');
  background-position:50% 50%;
  background-size: cover;
  width: 5.5%;
  padding: 3%;
  border: none;
}

nav #welcome {
  font-size: 2.5vw;
  margin-bottom: 10px;
}
