.profile {
  display: flex;
  height: 80vh;
  width: 100vw;
  color: black;
}

.bio-picture-container {
  display: flex;
  flex-direction: column;
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 70vw;
  height: auto;
  align-content: flex-start;
  margin-top: 3vh;
}

.user-info {
  display: flex;
  width: 30vw;
}

.bio-input {
  display: flex;
  height: 30%;
  width: auto;
  border: 1px solid black;
}

.display-picture {
  display: flex;
  height: 50%;
  width: 50%;
}
