.profile {
  display: flex;
  height: 80vh;
  width: 100vw;
  color: black;
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 70vw;
  height: auto;
  align-content: flex-start;
  margin-top: 3vh;
}

.user-info {
  display: flex;
  width: 30vw;
}
